.site-branding {
	flex: 0 1 auto;
	position: relative;
	z-index: 100;

	.logo {
		position: relative;
		display: block;
		line-height: 1;

		&:hover {
			text-decoration: none;
		}

		img {
			display: inline-block;
			vertical-align: middle;
		}

		svg {
			fill: currentColor;
			vertical-align: middle;
		}
	}

	.logo-light {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}

	.site-title,
	.site-description {
		@extend .screen-reader-text;
	}
}

.text-light {
	.logo-light {
		position: static;
		opacity: 1;
	}

	.logo-dark {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
	}
}