.site-footer {
    &.light {
		border-top: 1px solid $color__lighter;

		> .footer-main:first-child > .footer-container:first-child .divider {
			display: none;
		}
	}

	&.dark {
		color: $color__gray;
	}

	&.transparent {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 999;
	}

	.mc4wp-form {
		max-width: 800px;

		.mc4wp-form-fields {
			display: flex;
			flex-wrap: wrap;
			position: relative;
		}

		input,
		select,
		textarea,
		button {
			margin-top: 0;
			margin-right: 0;
			padding: 0;
			width: auto;
			border: 0;
			border-bottom: 2px solid $color__lighter;
			background: transparent;

			&:focus {
				border-color: $color__dark;
			}
		}

		input,
		select {
			height: 50px;
		}

		input[type=text],
		input[type=email],
		select,
		textarea {
			flex: 1;
		}

		input[type=button],
		input[type=submit],
		input[type=reset],
		button {
			color: $color__dark;
			font-weight: 500;
			line-height: 50px;
			padding-left: 0;
			padding-right: 0;
		}

		input[type=email]:first-child + input[type=submit]:last-child {
			position: absolute;
			right: 0;
			border-bottom: 0;
		}
	}

	&.text-light {
		.mc4wp-form {
			input,
			select,
			textarea {
				color: #fff;
				border-color: $color__gray;

				&:focus {
					border-color: #fff;
				}
			}
		}

		.widget-title {
			color: #fff;
		}
	}
}

.header-vertical .site-footer.transparent {
	left: 0;
	padding-left: 360px;
}

.footer-extra,
.footer-widgets,
.footer-instagram {
	padding: 50px 0;

	&:first-child {
		padding-top: 65px;
	}
}

.footer-extra {
	@include font-size(1);
}

.footer-widgets {
	@include font-size(14/16);

	// + .footer-main {
	// 	margin-top: -20px;
	// }

	.footer-widgets-area {
		padding-left: 40px;
		padding-right: 40px;

		&:first-child {
			padding-left: 15px;
		}

		&:last-child {
			padding-right: 15px;
		}
	}

	.widget {
		padding: 0;
		border: 0;

		&:last-child {
			margin-bottom: 0;
		}

		ul {
			margin-top: -5px;
		}

		li {
			padding: 15px 0;
		}

		ol,
		ul {
			> li:last-child {
				padding-bottom: 0;
			}
		}

		a {
			@include underline-hover();
			padding-bottom: 0;
			line-height: inherit;

			&:after {
				bottom: -4px;
			}
		}
	}

	.social-links-widget a {
		line-height: 32px;
	}

	.widget-title {
		@include font-size(24/16);
		font-weight: 400;
		text-transform: none;
		border-bottom: 0;
		padding-bottom: 0;

		+ ul {
			margin-top: -15px;
		}
	}
}

.footer-widgets-flex {
	.row {
		display: flex;
		justify-content: space-between;

		&:before,
		&:after {
			display: none;
		}
	}

	.footer-widgets-area {
		width: auto;

		&:last-child {
			text-align: right;
		}
	}
}

.footer-instagram {
	.instagram-feed {
		overflow: hidden;
		position: relative;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
		}

		li {
			float: left;
			width: (100%/8);
			transition: 0.5s;
		}

		li:hover {
			opacity: 0.9;
		}

		img {
			display: block;
		}

		&.columns-6 li {
			width: (100%/6);
		}

		.profile-link {
			@include font-size(14/16);
			color: $color__dark;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			border-radius: 50%;
			width: 120px;
			height: 120px;

			span {
				display: block;
				position: absolute;
				top: 50%;
				width: 100%;
				padding: 5px;
				transform: translateY(-50%);
				word-break: break-all;
			}

			&:hover {
				opacity: 0.9;
			}
		}
	}

	+ .footer-main {
		margin-top: -50px;
	}
}

.footer-instagram--cropped .instagram-feed li {
	a {
		display: block;
		background: no-repeat center center;
		background-size: cover;

		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
	}

	img {
		display: none;
	}
}

.footer-main {
	@include font-size(14/16);
	padding: 40px 0 35px;

	.footer-container {
		display: flex;
		position: relative;
	}

	.divider {
		flex: 1;
		margin-top: -40px;
	}

	.footer-items {
		display: flex;
		flex-direction: column;

		> * {
			margin-top: auto;
			margin-bottom: 75px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-left,
	.footer-right {
		flex: 1;
	}

	.switchers .list-dropdown {
		margin-left: 40px;

		&:first-child {
			margin-left: 0;
		}
	}

	.footer-center {
		text-align: center;
		justify-content: center;
	}

	.footer-right {
		text-align: right;
		justify-content: flex-end;
	}

	&.items-horizontal {
		.footer-items {
			flex-direction: row;

			> * {
				margin: 0;
			}
		}

		.footer-left > * {
			margin-right: 40px;

			&:last-child {
				margin-right: 0;
			}
		}

		.footer-right > * {
			margin-left: 40px;

			&:first-child {
				margin-left: 0;
			}
		}

		.footer-center {
			margin: 0 20px;
		}
	}
}

.gotop {
	position: fixed;
	right: 60px;
	bottom: 60px;
	z-index: 999;
	width: 40px;
	height: 40px;
	color: $color__gray;
	text-align: center;
	line-height: 42px;
	border-radius: 50%;
	border: 1px solid;
	display: none;
	transition: color 0.4s, background 0.4s;

	&:hover {
		color: #fff;
		border-color: $color__dark;
		background: $color__dark;
	}

	.svg-icon {
		transform: rotate(180deg);
	}
}