@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes konteLineRun {
	0% {
		right: -20px;
		left: auto;
	}
	100% {
		right: 100%;
		left: auto;
	}
}

.list-dropdown {
	.label {
		margin-right: 0;
		margin-left: 20px;
	}

	.caret {
		margin-right: 8px;
		margin-left: 0;
	}

	ul {
		left: auto;
		right: -15px;
	}
}

.hamburger-menu {
	display: flex;
	align-items: center;

	.menu-text {
		transform: translateX(10px);
	}
}

.underline-hover.short-line:after {
	left: auto;
	right: 0;
}
