.error-404 {
	.error-title {
		padding-left: 0;
		padding-right: 40px;

		&:before {
			left: auto;
			right: 0;
		}
	}

	.page-content .button .svg-icon {
		margin-right: 0;
		margin-left: 35px;
	}
}

.search .site-main {
	article.product {
		display: flex;

		.entry {
			flex: 1;
		}

		.post-thumbnail + .entry {
			margin-left: 0;
			margin-right: 40px;
		}
	}
}

.page-template-split {
	.split-page-featured {
		left: auto;
		right: 0;
	}

	.content-left .split-page-content .konte-container {
		flex-direction: row-reverse;
	}
}

.flex_post {
	float: right;
}

.flex-tags {
	left: auto;
	right: -33px;
	transform: rotate(-90deg);
}

.flex-post-content .read-more:after {
	left: auto;
	right: 0;
}

.sticky-socials {
	left: auto;
	right: 60px;

	li:first-child {
		padding-left: 0;
	}

	li:last-child {
		padding-right: 0;
	}
}

.sticky-scrolldown {
	right: auto;
	left: 60px;
	direction: ltr;
	transform: rotate(-90deg) translate(-50%, 0);
	transform-origin: left top;
}