.topbar {
}

.topbar-left-items {
	> * {
		margin-right: 0;
		margin-left: 40px;

		&:last-child {
			margin-left: 0;
		}
	}
}

.topbar-right-items {
	> *:first-child {
		margin-left: 40px;
	}

	> *:last-child {
		margin-left: 0;
	}
}