@import "variables-site/variables-site";
@import "mixins/mixins-master";

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-light-webfont.woff2') format('woff2'),
         url('fonts/functionpro-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-book-webfont.woff2') format('woff2'),
         url('fonts/functionpro-book-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-medium-webfont.woff2') format('woff2'),
         url('fonts/functionpro-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-demi-webfont.woff2') format('woff2'),
         url('fonts/functionpro-demi-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'function_pro';
	src: url('fonts/functionpro-bold-webfont.woff2') format('woff2'),
         url('fonts/functionpro-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Extend CSS for MCE
--------------------------------------------------------------*/
@import "editor/editor";