.underline-hover {
	line-height: 1;
	position: relative;
	display: inline-block;
	padding-bottom: 8px;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		border-bottom: 1px solid;
		transition: width 0.4s;
	}

	&.active,
	&:hover {
		text-decoration: none;

		&:after {
			width: 100%;
			left: 0;
		}
	}

	&.short-line {
		&:after {
			right: auto;
			left: 0;
			width: 20px;
			border-bottom: 2px solid;
		}

		&.active,
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
}

.counter {
	@include font-size(11/16);
	font-weight: 500;
	color: #fff;
	text-align: center;
	line-height: 11px;
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	padding: 4px;
	background: $color__dark;
	display: inline-block;

	.text-light & {
		color: $color__dark;
		background-color: #fff;
	}
}

.list-dropdown {
	position: relative;
	display: inline-block;

	.label {
		margin-right: 20px;
	}

	.dropdown {
		display: inline-block;
		position: relative;

		&:hover ul {
			z-index: 1600;
			opacity: 1;
			pointer-events: initial;
		}
	}

	.current {
		@extend .underline-hover;
		line-height: inherit;
		font-weight: 500;
		cursor: pointer;
		display: block;

		&:before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			border-bottom: 1px solid $color__lighter;
		}
	}

	.caret {
		margin-left: 8px;

		svg {
			vertical-align: top;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		min-width: 100px;
		white-space: nowrap;
		position: absolute;
		top: 100%;
		left: -15px;
		background: #fff;
		opacity: 0;
		z-index: -1;
		box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
		transition: opacity 0.4s;
		pointer-events: none;

		li {
			a {
				color: $color__dark;
				display: block;
				padding: 10px 15px;
				margin: 0;
				width: auto;
				height: auto;

				&:hover {
					background: $color__lighter;
				}
			}
		}
	}

	&.up ul {
		top: auto;
		bottom: 0;
	}

	&.open {
		ul {
			z-index: 1600;
			opacity: 1;
			pointer-events: initial;
		}
	}
}

hr.divider {
	margin: 0;

	.dark & {
		background: rgba(255,255,255,0.1);
	}
}

.svg-icon {
	@include font-size(24/16);
	line-height: 1;
	display: inline-block;

	&.size-small,
	&.icon-small {
		@include font-size(1);
	}

	&.size-smaller,
	&.icon-smaller {
		@include font-size(14/16);
	}

	svg {
		vertical-align: -0.125em;
		width: 1em;
		height: 1em;
		fill: currentColor;
		display: inline-block;
	}
}

.menu-banner {
	@include font-size(14/16);
	display: block;
	position: relative;

	&:after {
		display: none;
	}

	img {
		display: block;
	}

	.banner-text {
		position: absolute;
		top: 50%;
		left: 50%;
		padding: 10px 25px;
		background: #fff;
		transform: translate(-50%, -50%);
	}
}

.notifyjs-corner {
	z-index: 9999 !important;
}
