/**
 * Checkout
 */
.woocommerce-checkout {
	.entry-header .entry-title {
		font-weight: 400;
		margin-bottom: 40px;
	}
}

.checkout-login,
.checkout-coupon {
	@include font-size(1);
	width: 50%;
	float: left;
	margin-bottom: 43px;

	.woocommerce-info {
		@include font-size(1);
		font-weight: 500;
		text-align: center;
		color: $color__gray;
		padding: 18px 10px;
		margin: 0;
		background: $color__lighter;
		min-height: 0;

		.svg-icon {
			display: none;
		}
	}
}

.checkout-login {
	.woocommerce-form-login {
		padding: 10px 30px 0 0;

		.form-row-first,
		.form-row-last {
			width: auto;
			float: none;
			padding: 0;
		}

		input.input-text {
			width: 100%;
		}

		label {
			transform: translateY(35px);
			transition: 0.4s;
			display: inline-block;

			&.woocommerce-form__label {
				transform: none;
			}
		}

		.focused label {
			transform: none;
			@include font-size(14/16);
			color: $color__gray;
		}

		.button {
			width: 100%;
			line-height: 60px;
		}
	}
}

.checkout-coupon {
	.checkout_coupon {
		padding: 10px 0 0 30px;

		.form-row-first,
		.form-row-last {
			width: auto;
			float: none;
			padding: 0;
		}

		input.input-text {
			width: 100%;
		}

		.button {
			width: 100%;
			line-height: 60px;
		}
	}

	.logged-in & {
		float: none;
		margin-left: auto;
		margin-right: auto;

		.checkout_coupon {
			padding-left: 0;
		}
	}
}

form.woocommerce-checkout {
	clear: both;

	.form-row {
		display: flex;
		flex-wrap: wrap;

		label {
			font-weight: 500;
			display: inline-block;
			flex-basis: 195px;
			margin-top: 10px;
		}

		label.screen-reader-text {
			clip-path: none;
			position: static !important;
			width: auto;
			height: auto;
			display: block;
			text-indent: -9999em;
		}
	}

	.form-row-first {
		.woocommerce-input-wrapper,
		.input-text,
		.select2-container {
			margin-right: 0;
		}
	}

	.form-row-last {
		label {
			display: none;
		}
	}

	.woocommerce-input-wrapper,
	.select2-container,
	.input-text {
		flex: 1;
		margin-right: 195px;
	}

	.woocommerce-input-wrapper {
		.select2-container,
		.input-text {
			margin-right: 0;
			width: 100%;
		}
	}

	.select2-container {
		position: relative;

		.select2-selection--single .select2-selection__rendered {
			@include font-size(1);
		}
	}

	textarea,
	.input-text {
		@include font-size(1);
		border-color: $color__light;
	}

	textarea {
		padding: 10px 0 0 0;
	}

	abbr[title] {
		text-decoration: none;
		border-bottom: 0;
	}

	.mailchimp-newsletter,
	.mc4wp-checkbox-woocommerce {
		padding-left: 195px;
		display: block;

		label {
			@include font-size(1);
		}
	}

	.mc4wp-checkbox-woocommerce {
		margin-top: 37px;
	}
}

.woocommerce-billing-fields {
	h3 {
		@include font-size(40/16);
		font-weight: 400;
		margin: 0 0 3px;
	}
}

.woocommerce-account-fields {
	padding-bottom: 15px;
	border-bottom: 1px solid $color__lighter;

	.form-row.create-account {
		margin-top: 37px;
		padding-left: 195px;
		display: block;

		label {
			@include font-size(1);
			font-weight: 400;
		}
	}

	.create-account {
		flex-wrap: wrap;
	}

	.woocommerce-password-hint,
	.woocommerce-password-strength {
		text-align: left;
		width: 100%;
		padding-left: 195px;
	}

	.woocommerce-password-strength {
		@include font-size(1);
		margin-top: 20px;
	}
}

.woocommerce-shipping-fields {
	margin-top: 40px;

	h3 {
		@include font-size(1);
		font-weight: 400;
		padding-left: 195px;
	}
}

.woocommerce-additional-fields {
	padding-bottom: 20px;
	border-bottom: 1px solid $color__lighter;
}

h3#order_review_heading {
	@include font-size(40/16);
	font-weight: 400;
	margin: 70px 0 23px;
}

.woocommerce-checkout-review-order-table {
	width: calc(100% - 195px);
	margin-bottom: 0;

	thead {
		display: none;
	}

	th {
		font-weight: 500;

		&:first-child {
			width: 195px;
			border-bottom: 0;
		}
	}

	tbody {
		th,
		td {
			padding: 15px 0;
		}

		th {
			text-indent: -9999em;
		}

		td {
			border-bottom-width: 0;
		}

		tr:first-child th {
			text-indent: 0;
		}

		tr:last-child td {
			padding-bottom: 23px;
			border-bottom-width: 1px;
		}
	}

	.product-item {
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> span {
			flex: 1;
		}

		img {
			display: block;
		}

		.product-thumbnail {
			padding-right: 10px;
			flex: none;
			max-width: 100px;
		}

		.product-name {
			flex: 2;
		}

		span.product-quantity {
			@include font-size(14/16);
			padding-top: 5px;
		}

		.product-subtotal {
			text-align: right;
		}

		dl.variation {
			@include font-size(14/16);
			margin: 0;

			dt {
				display: inline-block;

				&:before {
					content: "|";
					margin: 0 4px 0 0;
				}

				&:first-child:before {
					display: none;
				}
			}

			dd {
				display: inline-block;
				margin: 0 0 0 5px;
				font-weight: 400;

				:first-child {
					margin-top: 0;
				}

				:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	tfoot {
		th,
		td {
			padding: 23px 0;
		}

		td {
			text-align: right;
		}

		.shipping {
			td {
				text-align: left;
			}

			ul {
				width: 100%;
			}

			label {
				@include font-size(1);

				&:before,
				&:after {
					top: 0.1em;
				}
			}
		}

		.order-total {
			th,
			td {
				padding-top: 33px;
				padding-bottom: 13px;
			}

			td {
				text-align: right;
				border-bottom: 0;

				strong {
					font-weight: 500;
				}
			}
		}
	}
}

.wc_payment_methods {
	padding: 0;
	margin-bottom: 40px;
	list-style: none;

	li {
		padding: 17px 0;
		border-bottom: 1px solid $color__lighter;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}

		> label {
			@include font-size(1);
			color: $color__gray;
			position: relative;
			padding-left: 30px;
			display: block;
			cursor: pointer;

			&:before,
			&:after {
				content: "";
				width: 20px;
				height: 20px;
				margin-right: 10px;
				background: $color__lighter;
				position: absolute;
				left: 0;
				top: 0.1em;
				transition: 0.4s;
			}

			&:before {
				border: 1px solid $color__lighter;
				background: $color__lighter;
			}

			&:after {
				opacity: 0;
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxMnB4IiBoZWlnaHQ9IjEycHgiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxnPjxwb2x5Z29uIHBvaW50cz0iNC4xNzcsMTAuNTQzIDAuNDM0LDYuOCAxLjU2Niw1LjY2OCA0LjE3Nyw4LjI3OSAxMC40MzUsMi4wMjMgMTEuNTY1LDMuMTU1ICIvPjwvZz48L2c+PC9zdmc+) no-repeat center center;
			}
		}

		> :checked + label {
			color: $color__dark;

			&:before {
				border-color: $color__dark;
				background: transparent;
			}

			&:after {
				opacity: 1;
			}
		}
	}

	li.payment_method_braintree_cc,
	li.payment_method_braintree_paypal {
		> input[name="payment_method"] + label {
			padding-right: 30px;
		}
	}

	li[class*=payment_method_braintree_] label > img:first-child {
		float: none;
	}

	img {
		height: (25/16)*1em;
		vertical-align: middle;
		margin: 0 16px;
	}

	.woocommerce-notice {
		padding: 20px !important;
		min-height: auto;
	}

	.about_paypal {
		float: right;
		border-bottom: 1px solid;
	}

	input.input-radio {
		display: none;
	}

	.payment_box {
		@include font-size(1);
		color: $color__gray;
		line-height: (20/16);

		p:last-child {
			margin-bottom: 0;
		}
	}
}

.woocommerce-checkout-payment {
	padding-top: 26px;
	border-top: 1px solid $color__lighter;

	> h4 {
		@include font-size(18/16);
		float: left;
		width: 195px;
		margin: -0.1667em 0 0 0;
	}

	.payment_methods,
	.place-order {
		margin-left: 195px;
	}

	.place-order {
		margin-top: 40px;

		.form-row {
			display: block;

			label {
				@include font-size(1);
				font-weight: 400;

				.required:before,
				.required:after {
					display: none;
				}
			}
		}

		.mc4wp-checkbox-woocommerce {
			padding-left: 0;
		}

		.button {
			color: #fff;
			width: 100%;
			line-height: 60px;
			border: 0;
			background-color: $color__dark;
		}
	}

	.woocommerce-terms-and-conditions-wrapper {
		margin-bottom: 40px;
	}

	.woocommerce-privacy-policy-text {
		@include font-size(1);
	}

	.wc-credit-card-form {
		margin: 0;
		padding: 10px 30px;

		.form-row {
			align-items: center;

			label {
				color: $color__dark;
				margin-top: 0;
			}

			> div {
				flex: 1;
				padding: 10px 0;
				border-bottom: 2px solid $color__light;

				&.focused {
					border-color: $color__dark;
				}
			}
		}

		.form-row-last > label {
			text-align: right;
			padding-right: 20px;
		}
	}
}

.woocommerce-checkout-2-columns {
	.checkout-login,
	.checkout-coupon {
		.woocommerce-info {
			border: 1px solid $color__light;
			background: #f8f9fa;
		}
	}

	.checkout-login {
		.woocommerce-info {
			border-right-width: 0;
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: 10px;
				bottom: 10px;
				right: 0;
				border-right: 1px solid $color__light;
			}
		}

		.woocommerce-form-login {
			label {
				@include font-size(18/16);
				font-weight: 500;
				margin-bottom: 10px;
				transform: none;
			}

			.focused label {
				color: inherit;
			}

			label.woocommerce-form__label {
				@include font-size(1);
				font-weight: 400;
			}
		}
	}

	.checkout-coupon {
		.woocommerce-info {
			border-left-width: 0;
		}
	}

	&.logged-in .checkout-coupon .woocommerce-info {
		border-left-width: 1px;
	}

	form.checkout {
		&:before,
		&:after {
			@include clearfix();
		}

		&:after {
			@include clearfix-after();
		}

		.col2-set {
			float: left;
			width: (653/1140) * 100%;
		}

		label.screen-reader-text {
			display: none;
		}
	}

	#order_review_heading,
	.woocommerce-checkout-review-order {
		float: right;
		width: (457/1140) * 100%;
	}

	h3#order_review_heading {
		margin-top: 0;
	}

	.woocommerce-checkout-review-order {
		padding: 20px 40px;
		border: 1px solid $color__light;
		background: #f8f9fa;
	}

	@media (min-width: 768px) {
		.woocommerce-checkout-review-order-table {
			@include font-size(1);
			width: 100%;
			table-layout: fixed;

			tr {
				display: block;
				width: 100%;
			}

			th {
				display: none;
			}

			td {
				display: block;
			}

			tbody {
				tr:first-child th {
					@include font-size(32/16);
					display: block;
					width: 100%;
					padding: 7px 0;
				}

				tr:last-child td {
					padding-bottom: 30px;
				}

				td {
					padding: 13px 0;
				}
			}

			tfoot {
				tr {
					display: flex;
					border-bottom: 1px solid $color__lighter;

					&:last-child {
						border-bottom: 0;
					}
				}

				th,
				td {
					display: block;
					border-bottom: 0;
					padding: 16px 0;
				}

				th {
					flex: 1;
				}

				.shipping {
					ul {
						display: block;
					}

					li {
						margin-bottom: 15px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					label:before {
						border: 1px solid $color__light;
						background: transparent;
					}

					label:after {
						border: 1px solid $color__dark;
						background-color: #fff;
					}
				}

				.order-total {
					@include font-size(20/16);

					th,
					td {
						padding: 23px 0;
					}
				}
			}

			.product-item span.product-quantity {
				color: $color__gray;
			}

			.product-item .product-thumbnail {
				max-width: 70px;
			}
		}

		.woocommerce-checkout-payment {
			margin: 0 -40px;
			padding: 30px 40px 0 40px;
			border-top-color: $color__light;

			> h4 {
				@include font-size(32/16);
				float: none;
				margin-bottom: 25px;
			}

			.payment_methods {
				margin-left: 0;
				margin-bottom: 0;

				li > label:before {
					border-color: $color__light;
					background: transparent;
				}

				li > label:after {
					border: 1px solid $color__dark;
					background-color: #fff;
				}
			}

			.place-order {
				margin: 0;
			}

			.form-row.place-order {
				margin-bottom: 18px;
			}
		}
	}

	.woocommerce-checkout-review-order-table .product-item dl.variation {
		&:before,
		&:after {
			@include clearfix();
		}

		&:after {
			@include clearfix-after();
		}

		dt,
		dd {
			float: left;
		}

		dt {
			clear: left;

			&:before {
				content: "";
				margin: 0;
			}
		}
	}

	.woocommerce-checkout-payment .wc-credit-card-form {
		padding: 0;
		border: 0;

		.form-row {
			margin: 8px 0;

			> label {
				@include font-size(14/16);
				font-weight: 500;
				margin-bottom: 6px;
			}

			> div {
				padding: 10px;
				border: 1px solid $color__light;
			}
		}

		.form-row-last > label {
			text-align: left;
		}
	}

	.form-row {
		.input-text {
			padding: 16px 20px;
			border: 1px solid $color__light;

			&:hover,
			&:focus {
				border-color: $color__dark;
			}
		}

		textarea {
			min-height: 110px;
		}

		label.screen-reader-text {
			display: none;
		}
	}

	label.woocommerce-form__label-for-checkbox span:before {
		border-color: $color__light;
		background: #f8f9fa;
	}

	.select2 {
		.select2-selection--single {
			border: 1px solid $color__light;

			.select2-selection__rendered {
				padding: 14px 20px;
			}

			.select2-selection__arrow {
				right: 20px;
			}

			&:hover,
			&:focus {
				border-color: $color__dark;
			}
		}

		&.select2-container--open .select2-selection--single {
			border-color: $color__dark;
		}
	}

	.select2-container .select2-dropdown {
		margin-top: 10px;
		padding: 20px;
		border: 1px solid $color__dark;
	}

	.select2-search--dropdown .select2-search__field {
		padding: 12px 20px;
	}

	form.woocommerce-checkout {
		.form-row {
			display: block;
			margin-bottom: 32px;

			label {
				margin-top: 0;
				margin-bottom: 10px;
			}
		}

		.form-row-last label {
			display: block;
		}

		.mc4wp-checkbox,
		.mc4wp-checkbox {
			label span:before {
				border-color: $color__light;
				background: #f8f9fa;
			}

			label span:after {
				border: 1px solid $color__dark;
			}
		}

		.mailchimp-newsletter,
		.mc4wp-checkbox-woocommerce {
			padding-left: 0;
		}
	}

	.woocommerce-account-fields {
		.form-row.create-account {
			padding-left: 0;
			margin-bottom: 10px;
		}
	}

	.woocommerce-shipping-fields {
		h3 {
			padding-left: 0;
		}
	}
}

.woocommerce-order-pay {
	.woocommerce > .woocommerce-info {
		padding-left: 30px;
		padding-right: 30px;
	}

	form.login {
		width: 50%;
		margin: 0 auto;

		.form-row {
			width: 100%;
			margin: 0 0 20px 0;
			padding: 0;
		}

		label {
			@include font-size(18/16);
			font-weight: 500;
			margin-bottom: 10px;

			&.woocommerce-form-login__rememberme {
				@include font-size(1);
				font-weight: 400;
				margin: 0;
			}
		}

		.input-text {
			width: 100%;
		}

		.button {
			line-height: 60px;
			width: 100%;
		}

		.rememberme {
			margin: 35px 0;
		}

		.lost_password {
			@include font-size(14/16);
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			margin: 40px 0 0 0;


			a {
				padding-bottom: 6px;
				border-bottom: 2px solid;
			}
		}
	}

	.shop_table {
		th {
			@include font-size(20/16);
			font-weight: 500;
		}

		td {
			@include font-size(1);
		}

		td.product-quantity {
			@include font-size(14/16);
			color: $color__gray;
		}

		td.product-subtotal {
			font-weight: 500;
		}

		td.product-total {
			@include font-size(20/16);
			font-weight: 500;
		}

		.product-total,
		.product-subtotal {
			text-align: right;
		}
	}

	form button[type="submit"] {
		color: #fff;
		line-height: 60px;
		background-color: $color__dark;
		border: 0;
		min-width: 220px;
	}
}