.single-page-header {
	position: relative;
	text-align: center;

	.entry-thumbnail {
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		.konte-map {
			height: 100% !important;
		}
	}

	.scroll {
		@include font-size(12/16);
		font-weight: 500;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: rotate(-90deg) translate(0, 50%);
		transform-origin: 0 100%;
		padding-left: 55px;
		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 35px;
			border-bottom: 2px solid;
		}
	}

	.entry-title {
		@include font-size(80/16);
		font-weight: 400;
		margin-bottom: 30px;
	}

	.entry-subtitle {
		@include font-size(24/16);
		font-weight: 400;
		padding: 0 8.3333%;
		margin: 0;
	}

	&.title-none,
	&.title-above {
		.entry-thumbnail {
			&:after {
				width: calc((100% - 1170px) / 2 + 1170px);
				height: 160px;
				left: 0;
			}
		}

		& + .site-content-container {
			margin-top: -85px;
			position: relative;
		}
	}

	&.title-above {
		.page-titles {
			padding-top: 65px;
			padding-bottom: 70px;
		}
	}

	&.title-front {
		background: no-repeat center center;
		background-size: cover;
		overflow: hidden;
		margin-bottom: 50px;

		.page-titles {
			position: absolute;
			width: 100%;
			left: 0;
			top: 50%;
			z-index: 2;
			transform: translateY(-50%);
		}

		.entry-title,
		.entry-subtitle {
			color: inherit;
		}

		.entry-thumbnail {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;

			&:after {
				display: none;
			}
		}
	}
}

.page .page {
	.entry-header {
		text-align: center;
		margin-bottom: 70px;
	}

	.entry-title {
		@include font-size(80/16);
		font-weight: 400;
	}

	.entry-subtitle {
		font-weight: 400;
		padding-left: 16.6667%;
		padding-right: 16.6667%;
	}

	> .entry-content:first-child {
		margin-top: 0;
	}

	.entry-content {
		margin-bottom: 0;
	}
}

.page-template-split {
	.site-content {
		padding-top: 0;
		padding-bottom: 0;
	}

	.site-content-container,
	.content-area,
	.site-main,
	.split-page {
		height: 100%;
	}

	.split-page {
		overflow: hidden;
		position: relative;
		height: 100vh;
	}

	.page.has-post-thumbnail.title-above {
		margin-top: 0;
	}

	.split-page-featured {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;

		.entry-header {
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background-size: cover;
			overflow: hidden;
			margin-bottom: 0;
		}

		.konte-map {
			height: 100% !important;
		}

		.entry-thumbnail {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&:after {
				display: none;
			}
		}
	}

	.split-page-content {
		height: 100%;
		padding: 170px 0 100px 0;

		.konte-container {
			display: flex;
			align-items: center;
			height: 100%;
		}

		.entry-content {
			width: 50%;
			max-height: 100%;
			overflow: hidden;
			padding-left: 110px;
			float: right;
			margin: 0 0 0 50%;
			position: relative;

			&.ps--active-y {
				height: 100%;
			}
		}

		.ps__rail-x {
			display: none;
		}

		.wpcf7-submit {
			width: auto;
			padding: 0 40px;
			min-width: 265px;
		}
	}

	.content-left {
		.split-page-featured .entry-header {
			left: auto;
			right: 0;
		}

		.split-page-content .entry-content {
			float: left;
			margin-left: 0;
			padding-left: 0;
			padding-right: 110px;
		}
	}

	.footer-main .divider {
		display: none;
	}
}

.video-background {
	max-width: none;
	position: relative;
	z-index: 0;
	opacity: 0;
}

.video-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
