form.woocommerce-checkout {
	.woocommerce-input-wrapper,
	.select2-container,
	.input-text {
		margin-right: 0;
		margin-left: 195px;
	}

	.form-row-first {
		.woocommerce-input-wrapper,
		.input-text,
		.select2-container {
			margin-left: 0;
		}
	}

	.mailchimp-newsletter,
	.mc4wp-checkbox-woocommerce {
		padding-left: 0;
		padding-right: 195px;
	}
}

.woocommerce-account-fields {
	.form-row.create-account,
	.woocommerce-password-hint,
	.woocommerce-password-strength {
		padding-left: 0;
		padding-right: 195px;
	}
}

.woocommerce-shipping-fields {
	h3 {
		padding-left: 0;
		padding-right: 195px;
	}
}

.woocommerce-checkout-review-order-table {
	tfoot td {
		text-align: left;
	}

	tfoot .order-total td {
		text-align: left;
	}

	tfoot .shipping td {
		text-align: right;
	}

	.product-item .product-thumbnail {
		padding-left: 10px;
		padding-right: 0;
	}

	.product-item .product-subtotal {
		text-align: left;
	}
}

.wc_payment_methods {
	li > label {
		padding-left: 0;
		padding-right: 30px;

		&:before,
		&:after {
			left: auto;
			right: 0;
			margin-right: 0;
			margin-left: 10px;
		}
	}

	.about_paypal {
		float: left;
	}

	li.payment_method_braintree_cc,
	li.payment_method_braintree_paypal {
		> input[name="payment_method"] + label {
			padding-left: 30px;
		}
	}
}

.woocommerce-checkout-payment {
	> h4 {
		float: right;
	}

	.payment_methods,
	.place-order {
		margin-left: 0;
		margin-right: 195px;
	}
}

.woocommerce-checkout-2-columns {
	form.checkout .col2-set {
		float: right;
	}

	#order_review_heading,
	.woocommerce-checkout-review-order {
		float: left;
	}

	.select2 .select2-selection--single .select2-selection__arrow {
		right: auto;
		left: 20px;
	}

	.woocommerce-shipping-fields h3 {
		padding-right: 0;
	}

	form.woocommerce-checkout {
		.mailchimp-newsletter,
		.mc4wp-checkbox-woocommerce {
			padding-right: 0;
		}
	}

	.woocommerce-checkout-payment {
		.payment_methods {
			margin-right: 0;
		}
	}
}
