body.mce-content-body {
	margin: 10px;
	overflow-x: auto;

	&.post-type-post {
		max-width: 780px;
	}

	code {
		background: $color__lighter;
	}

	.gallery .gallery-item {
		padding: 20px;
	}
}

.mce-item-table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 0;
	border-collapse: collapse;
    border-spacing: 0;

	th,
	td {
		padding: 10px 0;
		border: 0;
		border-bottom: 1px solid $color__border;
	}

	th {
		text-align: left;
	}

	caption {
		border: 0;
	}
}