.editor-styles-wrapper .wp-block {
	p,
	.mce-content-body {
		line-height: inherit;
	}

	p {
		font-size: inherit;
	}
}

.wp-block {
	max-width: 750px;

	.mce-content-body {
		margin: 1em 0 1.5em 0;
	}

	figcaption.mce-content-body {
		margin: 0;
	}

	&[data-align="wide"] {
		max-width: 1140px;

		@media (max-width: 1140px) {
			max-width: none;
		}

		.alignwide {
			width: 100%;
		}
	}

	.alignwide {
		width: 1140px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		@media (max-width: 1140px) {
			left: auto;
			width: auto;
			transform: none;
		}
	}

	&[data-align="full"] {
		max-width: none;
	}

	.alignfull {
		margin-left: calc(-100vw/2 + 100%/2 + 160px/2);
		margin-right: calc(-100vw/2 + 100%/2 + 160px/2);

		@media (max-width: 1140px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	p.wp-block-subhead {
		color: $color__gray;
		font-size: 1.1em;
	}

	ul.wp-block-gallery {
		list-style-type: none;
		padding: 0;
	}

	.wp-block-table {
		td {
			padding: 0.5em;
		}

		.editor-rich-text__tinymce {
			margin: 0;
			padding: 0;
		}
	}

	.wp-block-quote {
		p {
			font-size: inherit;
			line-height: 1.3333;
		}

		.mce-content-body {
			margin: 0;
		}

		&.is-large,
		&.is-style-large {
			p {
				line-height: 1.6;
			}

			.wp-block-quote__citation {
				@include font-size(18/16);
			}
		}
	}

	.wp-block-pullquote {
		blockquote:before {
			display: none;
		}
	}

	.wp-block-cover .wp-block-cover-text {
		font-size: 2em;
		line-height: 1.25;
		margin: 0;
	}
}

@media (min-width: 600px) {
	.wp-block[data-type="core/gallery"] + .wp-block[data-type="core/image"] {
		margin-top: -50px;
	}
}

.is-sidebar-opened .wp-block {
	.alignfull {
		margin-left: calc(-100vw/2 + 100%/2 + 160px/2 + 280px/2);
		margin-right: calc(-100vw/2 + 100%/2 + 160px/2 + 280px/2);

		@media (max-width: 1140px) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.folded {
	.wp-block {
		.alignfull {
			margin-left: calc(-100vw/2 + 100%/2 + 36px/2);
			margin-right: calc(-100vw/2 + 100%/2 + 36px/2);

			@media (max-width: 1140px) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	.is-sidebar-opened .wp-block {
		.alignfull {
			margin-left: calc(-100vw/2 + 100%/2 + 36px/2 + 280px/2);
			margin-right: calc(-100vw/2 + 100%/2 + 36px/2 + 280px/2);

			@media (max-width: 1140px) {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.post-type-page .wp-block {
	max-width: 1140px;

	&[data-align="wide"] {
		max-width: 1200px;

		@media (max-width: 1200px) {
			max-width: none;
		}
	}

	.alignwide {
		width: 1200px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		@media (max-width: 1200px) {
			width: auto;
			left: auto;
			transform: none;
		}
	}

	&[data-align="full"] {
		max-width: none;
	}
}

.editor-post-title__block .editor-post-title__input {
	color: inherit;
	font-family: inherit;
	font-size: 60px;
	font-weight: 600;
	line-height: 1.16667;
}

.wp-block-preformatted,
.wp-block-verse {
	pre {
		line-height: 1.55556;
	}

	pre.mce-content-body {
		line-height: 1.55556;
		margin: 0 0 1.6em 0;
	}
}

.wp-block-preformatted pre {
	-ms-word-wrap: normal;
    word-wrap: normal;
}

.wp-block-pullquote {
	&.alignleft,
	&.alignright {
		blockquote > .editor-rich-text p {
			font-size: 20px;
		}
	}
}

.wp-block-freeform.block-library-rich-text__tinymce {
	@import "../typography/links";
	@import "../typography/headings";
	@import "../typography/copy";
}