.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic {
	.vc_tta-panels .vc_tta-panel .vc_tta-panel-heading {
		border-width: 0;
		position: relative;
	}

	.vc_tta-panels .vc_tta-panel .vc_tta-panel-title {
		line-height: (30/24);
	}

	.vc_tta-panels .vc_tta-panel .vc_tta-panel-title > a {
		padding: 34px 0;
		border-top: 1px solid;
		position: static;
	}

	.vc_tta-panels .vc_tta-panel:first-child .vc_tta-panel-title > a {
		border-top-width: 0;
	}

	.vc_tta-panel .vc_tta-panel-body {
		padding: 0 0 32px 0;
	}

	.vc_tta-controls-icon-plus {
		width: 20px;
		height: 20px;
		transition: transform 0.4s;
	}

	.vc_tta-panel.vc_active .vc_tta-controls-icon-plus {
		transform: rotate(45deg) translate(-35%, -35%);
	}

	&.icon-left {
		.vc_tta-panel .vc_tta-panel-title,
		.vc_tta-panel .vc_tta-panel-body {
			padding-left: 80px;
		}
	}

	&.icon-right {
		.vc_tta-panel .vc_tta-panel-title,
		.vc_tta-panel .vc_tta-panel-body {
			padding-right: 195px;
		}
	}

	&.vc_tta-color-white {
		.vc_tta-panels .vc_tta-panel .vc_tta-panel-heading:hover {
			background: #fff;
		}

		.vc_tta-panels .vc_tta-panel .vc_tta-panel-title > a {
			color: $color__dark;
			border-color: $color__lighter;
		}

		.vc_tta-controls-icon-plus {
			&:before,
			&:after {
				border-color: $color__light;
			}
		}

		.vc_active .vc_tta-controls-icon-plus {
			&:before,
			&:after {
				border-color: $color__dark;
			}

			&:after {
				display: block;
			}
		}
	}
}

.vc_toggle.vc_toggle_ {
	position: relative;
	margin: 0;

	.vc_toggle_icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		position: absolute;
		right: 0;
		top: 50%;
		opacity: 0;
		transform: translate(0, -50%);
		transition: opacity 0.4s, transform 0.4s;

		&:before {
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			top: 50%;
			margin-top: -1px;
			border-top: 2px solid;
		}

		&:after {
			content: '';
			display: block;
			height: 100%;
			position: absolute;
			left: 50%;
			margin-left: -1px;
			border-left: 2px solid;
		}
	}

	&.vc_toggle_active .vc_toggle_icon {
		opacity: 1;
		transform: rotate(45deg) translate(-35%, -35%);
	}

	.vc_toggle_title,
	.vc_toggle_content {
		padding-right: 195px;
	}

	.vc_toggle_title {
		> h4 {
			line-height: (30/24);
			display: block;
			margin: 0;
			padding: 34px 0 34px 0;
			border-top: 1px solid $color__lighter;
		}
	}

	.vc_toggle_content {
		margin: -10px 0 30px 0;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	&:first-of-type .vc_toggle_title > h4 {
		border-top: 0;
	}
}