.konte-pricing-table {
	text-align: center;
	padding: 40px;
	border: 1px solid $color__lighter;
	background: #fff;
	transition: 0.4s;

	&:hover {
		border-color: transparent;
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
	}
}

.konte-pricing-table__image {
	margin: 20px 0;
}

.konte-pricing-table__title {
	@include font-size(24/16);
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 8px 0;
}

.konte-pricing-table__description {
	@include font-size(14/16);
	line-height: (24/14);
	color: $color__gray;
}

.konte-pricing-table__price {
	@include font-size(48/16);
	line-height: 1;
	margin: 25px 0 15px 0;

	.currency {
		font-size: (22/48) * 1em;
		vertical-align: super;
	}
}

.konte-pricing-table__recurrence {
	@include font-size(12/16);
	color: $color__gray;
}

.konte-pricing-table__button {
	display: block;
	width: 100%;
	margin-top: 35px;
}
