.konte-subscribe-box {
	position: relative;

	.mc4wp-form {
		margin-top: 22px;
	}

	.mc4wp-form-fields {
		display: flex;
		flex-wrap: wrap;

		input[type="text"],
		input[type="email"],
		select {
			min-width: 0;
		}

		input {
			flex: 1;
		}

		button,
		input[type="submit"] {
			flex: 0;
		}
	}
}

.konte-subscribe-box__title {
	@include font-size(40/16);
	font-weight: 400;
	margin: 0 0 6px;
}

.konte-subscribe-box__desc {
	@include font-size(16/16);
}

.konte-subscribe-box--style2 {
	.konte-subscribe-box__title,
	.konte-subscribe-box__desc {
		text-align: center;
	}

	.konte-subscribe-box__title {
		@include font-size(30/16);
		font-weight: 500;
		margin-bottom: 20px;
	}

	.konte-subscribe-box__desc {
		@include font-size(18/16);
	}

	.mc4wp-form {
		margin-top: 42px;
	}

	.mc4wp-form-fields {
		position: relative;

		input[type=text],
		input[type=email],
		select {
			margin-right: 0;
		}

		button,
		input[type="submit"] {
			color: inherit;
			position: absolute;
			right: 0;
			padding-left: 10px;
			padding-right: 20px;
			background: transparent;
		}
	}
}