/*
Theme Name: Konte
Adding support for languages written in a Right To Left (RTL) direction
*/
/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
blockquote:before {
	left: auto;
	right: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
li > ul,
li > ol {
	margin-left: 0;
	margin-right: 10px;
}

th {
	text-align: right;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.mc4wp-checkbox label {
	padding-left: 0;
	padding-right: 30px;
}

.mc4wp-checkbox label span:before, .mc4wp-checkbox label span:after {
	left: auto;
	right: 0;
	margin-right: auto;
	margin-left: 10px;
}

.mc4wp-form input[type=text],
.mc4wp-form input[type=email],
.mc4wp-form select {
	margin-right: 0;
	margin-left: 20px;
}

/*--------------------------------------------------------------
# Off-screen panels
--------------------------------------------------------------*/
.offscreen-panel .button-close {
	right: auto;
	left: 60px;
}

.offscreen-panel .hamburger-menu {
	flex-direction: row-reverse;
}

.offscreen-panel .panel {
	right: auto;
	left: 0;
	transform: translateX(-100%);
}

.mobile-menu-panel .panel {
	right: 0;
	left: auto;
	transform: translateX(100%);
}

.mobile-menu-panel .list-dropdown .dropdown {
	float: left;
}

/*--------------------------------------------------------------
# Modals
--------------------------------------------------------------*/
.modal .button-close {
	right: auto;
	left: 60px;
}

.modal .hamburger-menu {
	flex-direction: row-reverse;
}

.hamburger-fullscreen .button-close {
	left: auto;
	right: 60px;
}

.hamburger-fullscreen .hamburger-box {
	margin-left: 4px;
}

.hamburger-fullscreen .social-icons {
	left: auto;
	right: 60px;
}

.hamburger-fullscreen .currency {
	margin-right: 0;
	margin-left: 40px;
}

.hamburger-screen-content {
	left: auto;
	right: auto;
	padding-right: 200px;
	padding-left: 50px;
}

.hamburger-screen-background {
	left: 0;
	right: auto;
}

.hamburger-navigation .menu > li > a::before {
	left: auto;
	right: -50px;
}

.hamburger-navigation li ul {
	left: auto;
	right: 100%;
	padding-left: 0;
	padding-right: 140px;
}

.hamburger-navigation li li ul {
	padding-left: 0;
	padding-right: 20px;
}

.search-modal .quick-links .links li {
	margin-right: 0;
	margin-left: 74px;
}

.search-modal .quick-links .links li:last-child {
	margin-left: 0;
}

.popup-modal .button-close {
	left: 20px;
}

/*--------------------------------------------------------------
# Sliders
--------------------------------------------------------------*/
.swiper-pagination-bullet:first-child {
	margin-right: 0;
}

.swiper-pagination-bullet:last-child {
	margin-right: 10px;
}

.slick-dots li:first-child {
	margin-left: 5px;
	margin-right: 0;
}

.slick-dots li:last-child {
	margin-left: 0;
	margin-right: 5px;
}

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-webkit-keyframes konteLineRun {
	0% {
		right: -20px;
		left: auto;
	}
	100% {
		right: 100%;
		left: auto;
	}
}

@keyframes konteLineRun {
	0% {
		right: -20px;
		left: auto;
	}
	100% {
		right: 100%;
		left: auto;
	}
}

.list-dropdown .label {
	margin-right: 0;
	margin-left: 20px;
}

.list-dropdown .caret {
	margin-right: 8px;
	margin-left: 0;
}

.list-dropdown ul {
	left: auto;
	right: -15px;
}

.hamburger-menu {
	display: flex;
	align-items: center;
}

.hamburger-menu .menu-text {
	transform: translateX(10px);
}

.underline-hover.short-line:after {
	left: auto;
	right: 0;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.row {
	display: flex;
	flex-wrap: wrap;
}

.header-vertical .site {
	padding-right: 280px;
	padding-left: 0;
}

.header-vertical .site-footer.transparent {
	padding-left: 280px;
	padding-left: 0;
	left: auto;
	right: 0;
}

/*--------------------------------------------------------------
# Navigations
--------------------------------------------------------------*/
.nav-menu > li:first-child {
	padding-right: 0;
	padding-left: 17px;
}

.nav-menu > li:last-child {
	padding-left: 0;
	padding-right: 17px;
}

.nav-menu li li {
	text-align: right;
}

.nav-menu li li ul {
	left: auto;
	right: 100%;
	transform: translate(-10px, 0);
}

.nav-menu ul {
	left: auto;
	right: 20px;
}

.main-navigation li ul {
	left: auto;
	right: -40px;
}

.main-navigation li li ul {
	margin-left: 0;
	margin-right: 3px;
}

.main-navigation li li ul:before {
	left: auto;
	right: -3px;
}

.main-navigation .mega-menu {
	left: auto;
	right: 0;
}

.header-vertical .main-navigation .nav-menu > li > a:after {
	right: -60px;
	left: auto;
}

.header-vertical .main-navigation li ul {
	right: 100%;
	left: auto;
}

.header-vertical .main-navigation .sub-menu ul {
	padding-left: 0;
	padding-right: 20px;
}

.socials-menu li:first-child {
	padding-left: 12px;
	padding-right: 0;
}

.socials-menu li:last-child {
	padding-right: 12px;
	padding-left: 0;
}

.mobile-menu__nav .sub-menu {
	border-left: 0;
	border-right: 1px solid #e3e7e8;
}

.mobile-menu__cart-icon,
.mobile-menu__wishlist-icon {
	float: left;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}

.post-navigation .nav-links .nav-previous + .nav-next {
	border-left: 0;
	border-right: 1px solid #e3e7e8;
}

.post-navigation .nav-previous {
	padding-left: 30px;
	padding-right: 0;
}

.post-navigation .nav-previous img {
	margin-left: 20px;
	margin-right: auto;
}

.post-navigation .nav-next {
	padding-right: 30px;
	padding-left: 0;
}

.post-navigation .nav-next img {
	margin-right: 20px;
	margin-left: auto;
}

.pagination .nav-links > a,
.pagination .nav-links > span,
.comments-pagination .nav-links > a,
.comments-pagination .nav-links > span {
	margin-right: auto;
	margin-left: 6px;
}

.pagination .nav-links > a:last-child,
.pagination .nav-links > span:last-child,
.comments-pagination .nav-links > a:last-child,
.comments-pagination .nav-links > span:last-child {
	margin-left: auto;
}

.pagination .nav-links .next .svg-icon,
.comments-pagination .nav-links .next .svg-icon {
	margin-right: 10px;
	margin-left: auto;
	transform: rotate(180deg);
}

.pagination .nav-links .prev .svg-icon,
.comments-pagination .nav-links .prev .svg-icon {
	margin-left: 10px;
	margin-right: auto;
	transform: rotate(180deg);
}

.breadcrumbs .delimiter {
	transform: rotate(180deg);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar-left-items > * {
	margin-right: 0;
	margin-left: 40px;
}

.topbar-left-items > *:last-child {
	margin-left: 0;
}

.topbar-right-items > *:first-child {
	margin-left: 40px;
}

.topbar-right-items > *:last-child {
	margin-left: 0;
}

.header-left-items > * {
	margin-right: 0;
	margin-left: 30px;
}

.header-left-items > *:last-child {
	margin-left: 0;
}

.header-left-items .hamburger-menu:first-child {
	margin-right: 0;
	margin-left: 34px;
}

.header-right-items > *:first-child {
	margin-left: 30px;
}

.header-right-items > *:last-child {
	margin-left: 0;
}

.mobile-header-icons > * {
	margin-left: 0;
	margin-right: 25px;
}

.mobile-header-icons > *:first-child {
	margin-right: 0;
}

.header-search .search-field {
	left: auto;
	right: 0;
	padding-left: 0;
	padding-right: 35px;
}

.header-search .quick-links {
	text-align: right;
}

.header-right-items .header-search.icon .search-field {
	left: 0;
	right: auto;
}

.header-right-items .header-search .quick-links {
	left: 0;
	right: auto;
}

.header-center-items .header-search.form {
	text-align: right;
}

.transparent .header-right-items .header-search.icon .search-field:focus, .transparent .header-right-items .header-search.icon .search-field.focused {
	padding-right: 15px;
	margin-left: -5px;
	margin-right: 0;
}

.transparent .header-left-items .header-search.icon .search-field:focus, .transparent .header-left-items .header-search.icon .search-field.focused {
	padding-left: 15px;
	padding-right: 30px;
	margin-left: 0;
	margin-right: -5px;
}

.header-v10 .header-main .header-left-items {
	left: auto;
	right: 0;
	padding-left: 0;
	padding-right: 60px;
}

.header-v10 .header-main .site-branding {
	left: auto;
	right: 0;
	margin-right: 60px;
	margin-left: 0;
}

.header-v10 .header-main .main-navigation {
	text-align: right;
}

.header-v10.transparent {
	right: auto;
	left: 0;
}

.hamburger-fullscreen .socials-menu li:last-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
.entry-header .cat-links {
	padding-left: 0;
	padding-right: 30px;
}

.entry-header .cat-links:before {
	left: auto;
	right: 0;
}

.entry-header .entry-thumbnail:after {
	left: auto;
	right: 15px;
}

.entry-meta {
	display: flex;
	flex-wrap: wrap;
}

.entry-meta .posted-on,
.entry-meta .total-shares {
	margin-right: 0;
	margin-left: 26px;
}

.entry-meta .svg-icon {
	margin-right: 0;
	margin-left: 6px;
}

.entry-footer .tags-links a {
	margin-right: 0;
	margin-left: 6px;
}

.social-share a {
	margin-right: auto;
	margin-left: 20px;
}

.social-share a i {
	margin-right: auto;
	margin-left: 20px;
}

.social-share .social-list {
	text-align: right;
	padding-left: 0;
	padding-right: 10px;
	left: auto;
	right: 100%;
	transform: translateX(-10px);
}

.author-info .author-vcard,
.author-info .author-description,
.author-info .author-socials {
	padding-left: 0;
	padding-right: 110px;
}

.author-info .avatar {
	left: auto;
	right: 0;
}

.author-info .author-socials a {
	margin-right: auto;
	margin-left: 20px;
}

.author-info .author-socials a:last-child {
	margin-left: auto;
}

.hfeed .hentry .cat-links {
	padding-right: 0;
}

.hfeed .hentry .post-thumbnail {
	margin-right: 0;
	margin-left: 40px;
}

.blog-grid .hentry {
	float: right;
}

.blog-grid .hentry.col-md-6:nth-child(2n+1) {
	clear: right;
}

.featured-content-carousel .entry-title {
	padding-right: 0;
	padding-left: 20%;
}

.featured-content-carousel .slick-next {
	left: 190px;
	right: auto;
}

.featured-content-carousel .slick-prev {
	left: 130px;
	right: auto;
}

.blog-search-form .search-icon {
	left: auto;
	right: -3px;
}

.blog-search-form .search-field {
	padding-right: 30px;
	padding-left: 0;
}

.blog-header-content .social-icons {
	text-align: left;
}

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.error-404 .error-title {
	padding-left: 0;
	padding-right: 40px;
}

.error-404 .error-title:before {
	left: auto;
	right: 0;
}

.error-404 .page-content .button .svg-icon {
	margin-right: 0;
	margin-left: 35px;
}

.search .site-main article.product {
	display: flex;
}

.search .site-main article.product .entry {
	flex: 1;
}

.search .site-main article.product .post-thumbnail + .entry {
	margin-left: 0;
	margin-right: 40px;
}

.page-template-split .split-page-featured {
	left: auto;
	right: 0;
}

.page-template-split .content-left .split-page-content .konte-container {
	flex-direction: row-reverse;
}

.flex_post {
	float: right;
}

.flex-tags {
	left: auto;
	right: -33px;
	transform: rotate(-90deg);
}

.flex-post-content .read-more:after {
	left: auto;
	right: 0;
}

.sticky-socials {
	left: auto;
	right: 60px;
}

.sticky-socials li:first-child {
	padding-left: 0;
}

.sticky-socials li:last-child {
	padding-right: 0;
}

.sticky-scrolldown {
	right: auto;
	left: 60px;
	direction: ltr;
	transform: rotate(-90deg) translate(-50%, 0);
	transform-origin: left top;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget ul {
	padding-right: 0;
}

.konte-popular-posts-widget li {
	padding-left: 0;
	padding-right: 30px;
}

.konte-popular-posts-widget .no {
	left: auto;
	right: 0;
	border-left: 1px solid #e3e7e8;
	border-right: 0;
}

.konte-popular-posts-widget .post-summary {
	padding-left: 0;
	padding-right: 15px;
}

.widget_archive li .posts-count,
.widget_categories li .posts-count {
	float: left;
}

.widget_calendar tfoot td:last-child {
	text-align: left;
}

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
.konte-promotion.layout-inline .konte-button {
	margin-left: 0;
	margin-right: 40px;
}

.konte-tabs__nav li:first-child {
	margin-left: 25px;
	margin-right: 0;
}

.konte-tabs__nav li:last-child {
	margin-right: 25px;
	margin-left: 0;
}

.konte-product-carousel2 ul.products li.product .product-summary {
	text-align: right;
	left: auto;
	right: 20px;
}

.konte-product-carousel2 ul.products li.product .add-to-cart {
	left: auto;
	right: 20px;
	margin-left: 0;
	margin-right: 40px;
}

.konte-team-member__socials {
	float: left;
}

.konte-team-member__socials a:first-child {
	margin-left: 20px;
}

.konte-team-member__socials a:last-child {
	margin-left: 0;
}

.konte-icon-box.box-align-left {
	text-align: left;
}

.konte-message-box {
	padding-right: 120px;
	padding-left: 40px;
}

.konte-message-box.closeable {
	padding-left: 65px;
	padding-right: 120px;
}

.konte-message-box__icon {
	left: auto;
	right: 40px;
}

.konte-message-box__close {
	left: 40px;
	right: auto;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tabs-list {
	text-align: right;
	padding-right: 0;
	padding-left: 100px;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab:before {
	left: auto;
	right: 0;
}

.wpb-js-composer .vc_tta.vc_tta-tabs.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab.vc_active .vc_tta-title-text {
	transform: translateX(-30px);
}

.konte-testimonial__photo {
	padding-right: 0;
	padding-left: 60px;
}

.konte-carousel .konte-testimonial__photo {
	padding-right: 0;
	padding-left: 40px;
}

.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title,
.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-body {
	padding-right: 0;
	padding-left: 195px;
}

.wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading h4,
.wpb-js-composer .vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container {
	text-align: right;
}

.wpb-js-composer .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right a .vc_tta-controls-icon {
	left: 20px;
	right: auto;
}

.konte-category-banner.align-left {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.konte-category-banner__button:after {
	left: auto;
	right: 0;
}

.konte-dash .konte-dash__text {
	margin-left: 0;
	margin-right: 10px;
}

.konte-button.button-underline.underline-left:after {
	left: auto;
	right: 0;
}

.konte-product .product-cats {
	padding-left: 0;
	padding-right: 30px;
}

.konte-product .product-cats:before {
	left: auto;
	right: 0;
}

.konte-product-carousel2 .slick-arrow.slick-prev {
	left: auto;
	right: 20px;
}

.konte-product-carousel2 .slick-arrow.slick-prev .svg-icon {
	transform: rotate(180deg);
}

.konte-product-carousel2 .slick-arrow.slick-next {
	left: auto;
	right: 80px;
}

.konte-product-carousel2 .slick-arrow.slick-next .svg-icon {
	transform: rotate(180deg);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-widgets .footer-widgets-area:first-child {
	padding-right: 15px;
	padding-left: 40px;
}

.footer-widgets .footer-widgets-area:last-child {
	padding-right: 40px;
	padding-left: 15px;
}

.footer-widgets-flex .footer-widgets-area:last-child {
	text-align: left;
}

.footer-main .switchers .list-dropdown:first-child {
	margin-left: 40px;
}

.footer-main .switchers .list-dropdown:last-child {
	margin-left: 0;
}

.footer-main.items-vertical .footer-right {
	align-items: flex-end;
}

.footer-main.items-horizontal .footer-left > :first-child {
	margin-right: 0;
}

.footer-main.items-horizontal .footer-left > :last-child {
	margin-right: 40px;
}

.footer-main.items-horizontal .footer-right > :first-child {
	margin-left: 40px;
}

.footer-main.items-horizontal .footer-right > :last-child {
	margin-left: 0;
}

.gotop {
	right: auto;
	left: 60px;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (max-width: 1440px) {
	.header-vertical .site {
		padding-right: 280px;
		padding-left: 0;
	}
	.header-vertical .site-footer.transparent {
		padding-right: 280px;
		padding-left: 0;
	}
}

@media (max-width: 1199px) {
	.header-vertical .site,
	.header-vertical .site-footer.transparent {
		padding-right: 0 !important;
	}
	.search .site-main article.product .post-thumbnail {
		margin-right: 0;
	}
	.gotop {
		left: 40px;
		right: auto;
	}
}

@media (max-width: 991px) {
	.search .site-main article.product {
		flex-direction: column;
	}
	.search .site-main article.product .post-thumbnail + .entry {
		margin-right: 0;
	}
	.footer-widgets .footer-widgets-area:first-child {
		padding-left: 15px;
	}
	.footer-widgets .footer-widgets-area:last-child {
		padding-right: 15px;
	}
	.footer-widgets-flex .footer-widgets-area:last-child {
		text-align: right;
	}
}

@media (max-width: 767px) {
	.mc4wp-form input[type=text],
	.mc4wp-form input[type=email],
	.mc4wp-form select {
		margin-left: 0;
	}
	.flex_post .flex-tags {
		left: auto;
		right: -24px;
	}
	.konte-message-box {
		padding-left: 20px;
		padding-right: 60px;
	}
	.konte-message-box.closeable {
		padding-left: 35px;
		padding-right: 60px;
	}
	.konte-message-box__icon {
		right: 10px;
	}
	.konte-message-box__close {
		left: 10px;
	}
	.search-modal .quick-links .links li {
		margin-left: 0;
	}
	.offscreen-panel .button-close {
		left: 20px;
	}
	.footer-main.items-horizontal .footer-left > :last-child {
		margin-right: 0;
	}
	.gotop {
		left: 20px;
		right: auto;
	}
}
