.widget {
	margin: 0 0 40px;
	padding: 16px 26px 28px 26px;
	border: 1px solid $color__lighter;

	&.filled {
		border-width: 0;
	}

	/* Make sure select elements fit in widgets. */
	select {
		width: 100%;
	}

	input,
	select,
	textarea {
		padding: 10px 20px;
		border: 1px solid $color__dark;
	}

	ul,
	ol {
		margin-bottom: 0;
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	ol {
		padding-left: 16px;
	}

	li {
		padding: 10px 0;
	}

	th,
	td {
		border-color: $color__light;
	}

	.tagcloud {
		margin: -5px;

		a {
			color: $color__gray;
			font-size: 10px !important;
			font-weight: 600;
			text-transform: uppercase;
			margin: 5px 3px 4px 3px;
			padding: 7px 15px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid $color__lighter;
			background-color: transparent;
			transition: all 0.5s;

			&:hover {
				color: #fff;
				background-color: $color__dark;
			}
		}
	}

	.mc4wp-form {
		@include font-size(14/16);

		.mc4wp-form-fields {
			> :first-child {
				margin-top: 0;
			}
		}

		input,
		select,
		textarea,
		button {
			@include font-size(1);
			width: 100%;
			min-width: 0;
			padding: 17px 20px 18px 20px;
			margin-top: 20px;
		}

		input,
		select {
			height: 60px;
			margin-right: 0;
		}

		input[type=submit],
		input[type=reset],
		button {
			padding: 0 20px;
		}

		input[type=checkbox],
		input[type=radio] {
			padding: 0;
			width: auto;
			height: auto;
			margin: 0 5px 0 0;
		}

		p:last-of-type {
			margin-bottom: 0;
		}
	}
}

.widget-title {
	@include font-size(1);
	font-weight: 600;
	text-transform: uppercase;
	line-height: (30/16);
	margin: 0 0 20px;
	padding: 0 0 13px;
	border-bottom: 2px solid;
}

.widget_search {
	.search-form {
		position: relative;
	}

	.search-field {
		@include font-size(14/16);
		width: 100%;
		padding: 20px 60px 20px 20px;
		border: 1px solid $color__dark;
	}

	.search-submit {
		color: $color__dark;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 20px;
		background: transparent;

		svg {
			vertical-align: -(6/24)*1em;
		}
	}
}

.widget_archive,
.widget_categories {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			padding-left: 20px;
			margin-top: 10px;
			border-top: 1px solid $color__lighter;

			li:last-child {
				padding-bottom: 0;
			}
		}
	}

	li {
		padding: 10px 0;
		border-bottom: 1px solid $color__lighter;

		&:last-child {
			border-bottom: 0;
		}

		.posts-count {
			@include font-size(12/16);
			color: $color__gray;
			float: right;
			margin-top: 5px;
		}
	}
}

.konte-instagram-widget {
	.instagram-feed {
		margin: -3px;
	}

	ul {
		list-style: none;
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
	}

	li {
		float: left;
		width: 33.3333%;
		margin: 0;
		padding: 3px;
	}

	img {
		display: block;
	}

	.columns-2 li {
		width: 50%;
	}

	.columns-4 li {
		width: 25%;
	}

	.instagram-feed--cropped {
		li a {
			display: block;
			background: no-repeat center center;
			background-size: cover;

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}
		}

		img {
			display: none;
		}
	}
}

.konte-popular-posts-widget {
	ul {
		margin: -15px 0;
	}

	li {
		transition: 0.4s;
		padding: 15px 0 15px 30px;
		border-bottom: 1px solid #ebebeb;
		position: relative;

		&:last-child {
			border-bottom: 0;
		}
	}

	.no {
		@include font-size(30/16);
		font-weight: 500;
		color: $color__light;
		line-height: 1;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -15px;
		border-right: 1px solid $color__lighter;
	}

	.post-summary {
		padding-left: 15px;
		max-width: 100%;
	}

	.post-cats {
		@include font-size(10/16);
		font-weight: 600;
		text-transform: uppercase;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		a {
			color: #828d91;
		}
	}

	.post-title {
		@include font-size(1);
		line-height: (22/16);
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.posts-slider-widget {
	.cat-links {
		@include font-size(10/16);
		font-weight: 600;
		text-transform: uppercase;
		margin: 16px 0 12px;
	}

	.entry-title {
		@include font-size(18/16);
		font-weight: 400;
		margin: 0;
	}

	.slick-arrow {
		text-align: center;
		line-height: 40px;
		position: absolute;
		top: 60px;
		width: 30px;
		height: 40px;
		opacity: 0;
		background: #fff;
		transition: opacity 0.4s;
		cursor: pointer;
		z-index: 1;

		.slick-disabled {
			opacity: 0;
		}
	}

	.slick-next {
		right: 0;
	}

	.slick-prev {
		left: 0;
	}

	.posts-slider {
		&:hover {
			.slick-arrow {
				opacity: 1;
			}
		}
	}
}

.social-links-widget {
	.social-links {
		overflow: hidden;
		margin: -5px;
	}

	a {
		@include font-size(13/16);
		color: #fff;
		text-align: center;
		line-height: 32px;
		display: inline-block;
		width: 32px;
		height: 32px;
		margin: 5px;
		border-radius: 50%;
		background-color: $color__light;
	}

	.facebook {
		background-color: #306199;
	}

	.twitter {
		background-color: #26c4f1;
	}

	.google-plus {
		background-color: #dd4f43;
	}

	.tumblr {
		background-color: #36465d;
	}

	.pinterest {
		background-color: #cb2027;
	}

	.linkedin {
		background-color: #0077b5;
	}

	.flickr {
		background-color: #ff0084;
	}

	.instagram {
		background-color: #e1306c;
	}

	.dribbble {
		background-color: #ea4c89;
	}

	.behance {
		background-color: #1769ff;
	}

	.stumbleupon {
		background-color: #eb4924;
	}

	.github {
		background-color: #333;
	}

	.youtube {
		background-color: #ff0000;
	}

	.vimeo {
		background-color: #1ab7ea;
	}

	.houzz {
		background-color: #7ac142;
	}

	.rss {
		background-color: #f26522;
	}
}

.fullscreen-widgets {
	.widget {
		padding: 0;
		border: 0;
	}

	.widget-title {
		@include font-size(32/16);
		font-weight: 400;
		text-transform: none;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.menu {
		> li > a {
			@include font-size(32/16);
		}
	}
}
