$color__darker: #000;
$color__dark: #161619;
$color__gray: #838889;
$color__light: #cdcfd0;
$color__lighter: #e3e7e8;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $color__lighter;
$color__background-button: transparent;
$color__background-pre: $color__light;
$color__background-ins: $color__lighter;

$color__text-screen: $color__dark;
$color__text-input: $color__dark;
$color__text-input-focus: $color__darker;
$color__link: $color__darker;
$color__text-main: $color__dark;

$color__border: $color__darker;
$color__border-button: $color__lighter;
$color__border-button-hover: $color__dark;
$color__border-button-focus: $color__darker;
$color__border-input: $color__lighter;
$color__border-abbr: $color__dark;

$color__success: #8ed3af;
$color__error: #f49090;
$color__info: #ffd07d;
